@model Microservices.ConfigServer.Client.MVC.Settings.ApplicationSettings
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <pre id="jsonContent" class="prettyprint text-left"></pre>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var settings = {
                ConnectionStrings: {
                    MicroservicesClientConnectionString: "@Model.ConnectionStrings.MicroservicesClientConnectionString"
                },
                JwtSettings: {
                    Key: "@Model.JwtSettings.Key",
                    Issuer: "@Model.JwtSettings.Issuer",
                    Audience: "@Model.JwtSettings.Audience",
                    MinutesToExpiration: "@Model.JwtSettings.MinutesToExpiration"
                }
            };

            var jsonContent = JSON.stringify(settings, null, 4); // Convert to JSON string with indentation
            document.getElementById("jsonContent").textContent = jsonContent;
        });
    </script>
}